/* 整体页面样式 */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fff;
}

/* 横幅容器 */
.banner {
  width: 100%;
  overflow: hidden;
}

/* 横幅图像 */
.wide-banner {
  width: 100%;
  height: auto;
  display: block;
}
